---

---

<div class="container3">
    <span>
        <img src="public/html.svg" alt="htmlIcon" height="60px">
        <div>HTML5</div>
    </span>
    <span>
        <img src="public/css.svg" alt="cssIcon" height="60px">
        <div>CSS3</div>
    </span>
    <span>
        <img src="public/Bootstrap.svg" alt="cssIcon" height="60px">
        <div>Bootstrap</div>
    </span>
    <span>
        <img src="public/Tailwind CSS.svg" alt="cssIcon" height="60px">
        <div>TailWind</div>
    </span>
    <span>
        <img src="public/javascript.svg" alt="jsIcon" height="60px">
        <div>javaScript</div>
    </span>
    <span>
        <img src="public/react.svg" alt="reactIcon" height="60px">
        <div>React js</div>
    </span>
    <span>
        <img src="public/astro.png" alt="astroIcon" height="60px">
        <div>Astro js</div>
    </span>
    <span>
        <img src="public/python.svg" alt="PyIcon" height="60px">
        <div>Python</div>
    </span>
    <span>
        <img src="public/FastAPI.svg" alt="FastAPIIcon" height="60px">
        <div>FastAPI</div>
    </span>
    <span>
        <img src="public/GitHub (1).svg" alt="GitHubIcon" height="60px">
        <div>GitHub</div>
    </span>
    <span>
        <img src="public/MongoDB.svg" alt="mongoIcon" height="60px">
        <div>MongoDB</div>
    </span>
    <span>
        <img src="public/Next.js.svg" alt="NextjsIcon" height="60px">
        <div>Next js</div>
    </span>
</div>

<style>
    .container3 {
    position: relative;
    height: auto;
    width: auto;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 10px;
    background: linear-gradient(140deg, rgb(70, 11, 182), rgba(46, 46, 46, 0), rgba(46, 46, 46, 0), rgb(70, 11, 182));
    transition: .3s ease;
    z-index: 0; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    grid-row: 2/2;
    grid-column: 2/2;
}

.container3:hover{
    border: 1px solid rgb(45, 179, 189);
    box-shadow: 0 0 10px rgb(45, 179, 189),
                0 0 50px rgb(45, 179, 189); 
    z-index: 1;
}


.container3 span {
    background-color: rgba(168, 168, 168, 0);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.container3 span div {
    position: absolute;
    pointer-events: none;
    padding: 5px 10px;
    background-color: rgba(196, 196, 196, 0);
    top: 30px;
    transition: 0.3s ease;
    color: rgba(240, 248, 255, 0);
    border-radius: 5px;
}

.container3 span img:hover + div {
    color: rgb(238, 238, 238);
    top: -20px;
    background-color: rgb(36, 36, 36);
}

.container3::before {
    content: 'Estas son algunas tecnologias que suelo usar';
    position: absolute;
    text-align: center;
    padding: 10px 30px;
    top: 0;
    background-color: rgba(139, 139, 139, 0);
    border-radius: 10px;
    transition: .3s ease;
    color: rgba(240, 248, 255, 0);
}

.container3:hover::before {
    top: -60px;
    background-color: rgb(34, 34, 34);
    color: aliceblue;
}

@media screen and (max-width: 969px){
    .container3 {
        width: 49%;
        height: 400px;
    }
}

@media screen and (max-width: 650px){
    .container3 {
        height: 720px;
    }
}

@media screen and (max-width: 550px){
    .container3 {
        height: auto;
        width: 100%;
    }
}
</style>